.post {
  display: flex;
  justify-content: space-between;
  padding: 15px 14px 24px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  margin-bottom: 26px;
}

.post__content {
  width: 650px;
}

.post__title-area {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.post__title-area h2 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  color: #1890ff;
  margin: 0;
  margin-right: 12px;
}

.post__title-area svg {
  margin-right: 5px;
}

.post__like {
  display: flex;
}

.post__like input {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.post__like input ~ svg {
  margin-right: 4px;
}

.post__like input:checked ~ svg {
  fill: red;
}

.post__likes-count {
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
}

.post__tags {
  display: flex;
  margin-bottom: 4px;
}

.post__tag {
  font-weight: normal;
  margin-right: 8px;
  font-size: 12px;
  line-height: 15px;
  padding: 2px 5px 3px 4px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.post-author-edit {
  display: flex;
  flex-direction: column;
}

.post__description {
  font-size: 12px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.75);
}


.post-author__author-information {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  min-width: 155px;
  margin-bottom: 30px;
}

.post-author__name-wrapper {
  display: flex;
  flex-direction: column;
  padding-right: 12px;
}

.post-author__name {
  font-size: 18px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.85);
}

.post-author__date {
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.5);
}

.post-author__control-buttons {
  display: flex;
  gap: 16px;
}

.button {
  font-size: 14px;
  line-height: 22px;
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 0;
  text-decoration: none;
}

.button--delete {
  border: 1px solid #F5222D;
  padding: 6px 17px 5px;
  color: #F5222D;
  cursor: pointer;
}

.button--edit {
  border: 1px solid #52C41A;
  padding: 6px 23px 5px 19px;
  color: #52C41A;
}

.button.button--delete {
  position: relative;
}

.acception {
  width: 240px;
  padding: 12px 16px 12px 40px;
  position: absolute;
  background: #FFFFFF;
  border-radius: 4px;
  box-sizing: border-box;
  color: #000000;
  font-family: "Roboto";
  filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.15));
  left: calc(100% + 7px);
  top: -1px;
  cursor: default;
}

.acception--hidden {
  display: none;
}

.acception::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 8px solid #ffffff;
  border-right: 8px solid transparent;
  left: -4px;
  transform: rotate(-45deg);
}

.acception span {
  display: block;
  margin-bottom: 13px;
  position: relative;
}

.acception span::before {
  content: "!";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #faad14;
  left: -24px;
  color: white;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 3px;
}

.acception__buttons {
  display: flex;
  justify-content: flex-end;
}

.acception__button {
  padding: 1px 8px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  cursor: pointer;
}

.acception__button--cancel {
  border: 1px solid #d9d9d9;
}

.acception__button--accept {
  border: 1px solid #1890FF;
  background-color: #1890ff;
  color: #ffffff;
  font-size: 14px;
  line-height: 22px;
}

.acception__buttons .acception__button--cancel {
  margin-right: 8px;
}
