.post {
  display: flex;
  justify-content: space-between;
  padding: 15px 14px 24px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  margin-bottom: 26px;
}

.post__content {
  width: 650px;
}

.post__title-area {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.post__title-area a {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  color: #1890ff;
  margin: 0;
  margin-right: 12px;
  text-decoration: none;
}

.post__title-area svg {
  margin-right: 5px;
}

.post__likes {
  display: flex;
  align-items: center;
  gap: 7px;
}

.post__like-button {
  margin: 0;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
}

.post__like-button--not-liked {
  background-image: url(./icon-like.svg);
  background-size: 16px 16px;
}

.post__like-button--liked {
  background-image: url(./icon-like-active.svg);
  background-size: 16px 16px;
}

.post__likes-count {
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
}

.post__tags {
  display: flex;
  margin-bottom: 4px;
}

.post__tag {
  font-weight: normal;
  margin-right: 8px;
  font-size: 12px;
  line-height: 15px;
  padding: 2px 5px 3px 4px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.post__description {
  font-size: 12px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.75);
}

.post-author {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  min-width: 155px;
  flex-direction: row;
}

.post-author__name-wrapper {
  display: flex;
  flex-direction: column;
  padding-right: 12px;
}

.post-author__name {
  font-size: 18px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.85);
}

.post-author__date {
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.5);
  align-self: flex-end;
}
