#root {
  min-height: 100vh;
  background-color: #EBEEF3;
}

li {
  list-style: none;
}

.app-header {
  width: 100%;
  background-color: white;
}

.app-header__header {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  margin: 0;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 1440px;
  padding: 16px 22px 13px;
}

.auth-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 212px;
}

.auth-buttons__button {
  font-size: 18px;
  line-height: 28px;
  border: none;
  background-color: white;
}

.auth-buttons__button--auth {
  color: #52C41A;
  padding: 6px 21px 10px;
  border: 1px solid #52C41A;
  border-radius: 5px;
}

.app-main {
  padding: 26px 0 26px;
}

.app-main-wrapper {
  max-width: 941px;
  margin: auto;
}